[Desktop Entry]
Type=Application
Icon=/usr/share/glacier-calendar/icons/glacier-calendar.png
Exec=/usr/bin/glacier-calendar
Name=Calendar
Comment=GlacierUX calendar application
Name[cs]=Kalendář
Name[pl]=Kalendarz
Name[ru]=Календарь
Name[de]=Kalender
